body {
    font-family: 'Roboto';
    font-weight: 400;
}

.btn {
    padding: 6px 20px 6px 20px;
    color: #555;
    background-color: #FFF;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 900;
    display: inline-block;
    --box-shadow-color: #555;
    box-shadow: 0 4px 0 0 var(--box-shadow-color);
    border: 1px solid var(--box-shadow-color);
    outline: none;
    transition-duration: 0.05s;
}

.btn:active {
    transform: translate(0, 4px);
    box-shadow: 0 0 0 0 var(--box-shadow-color);
}

.btn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.btn--note {
    color: #FFF;
    background-color: #6E4412;
    --box-shadow-color: #3F2609;
    border: none;
}

.btn--task {
    color: #FFF;
    background-color: #59C3FF;
    --box-shadow-color: #408DB9;
    border: none;
}

.btn--default {
    color: #38505C;
    background-color: #ADCEE0;
    --box-shadow-color: #708B9A;
    border: none;
}

.modal__container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.btn--task-item {
    float: right;
    margin-top: -1.2rem;
    margin-right: -0.7rem;
}

.modal {
    margin: 100px auto 0px;
    width: 500px;
    min-height: 100px;
    background-color: #FFF;
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal form input, .modal form textarea, .modal form select {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    border-radius: 8px;
    max-width: 100%; /* for text area if try to resize the area */
    min-width: 100%; /* for text area if try to resize the area */
}

.modal label {
    font-size: 18px;
    font-weight: bold;
}

.modal__btn--close {
    width: 46px;
    height: 41px;
    position: absolute;
    top: -23px;
    right: -23px;
    background-color: #F45555;
    padding: 0;
    border: none;
    --box-shadow-color: #CA4747;
}

.modal__btn--close img {
    width: 25px;
    height: 25px;
    margin-left: 11px;
    margin-top: 8px;
}

.modal--note {
    background-color: #F8EBC0;
}

.input--note {
    background-color: #D6CAA3;
    border: 2px solid rgba(110, 68, 18, 0.3);
}

.input--task {
    background-color: rgba(91, 145, 179, 0.25);
    border: none;
}

.input--task[type=checkbox] {
    width: auto;
    display: inline-block;
    min-width: 0;
}

.input--task.small {
    width: 90px;
    min-width: 0;
}

.modal form .btn--submit {
    margin: 20px auto 0px auto;
    min-width: 130px;
    display: block;
}

.modal__title {
    padding: 2px 50px;
    text-align: center;
}

.modal__title--note {
    color: #FFF;
    background-color: #6E4412;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal__content {
    padding: 30px 50px;
}


#header {
    padding: 0px 20px;
    height: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    min-width: 600px;
}

.header__title {
    margin-top: 10px;
    font-size: 34px;
    font-weight: 100;
    color: #3E6C86;
    display: inline-block;
}

#header .btn {
    float: left;
    margin-top: 12px;
}

#header .btn--default {
    float: right;
}

#header .btn--task {
    margin-left: 20px;
}


#today-board {
    padding: 20px 20px 40px 20px;
    background-color: #F5FCFF;
    box-shadow: inset 0px -2px 10px rgba(0, 0, 0, 0.25);
}

#today-board .today-board__title {
    font-size: 24px;
    color: #7A9AAC;
    font-weight: bold;
}


#main-board {
    padding: 10px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

#notes-board, #tasks-board {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 20px 10px 0px 10px;
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 2px solid;
}

.item:hover {
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.item__title {
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.item__content {
    padding: 8px;
    overflow: hidden;
    max-height: 135px;
    text-align: justify;
}

.item--note {
    background-color: #F8EBC0;
    border-color: #6E4412;
}

.item--note__title {
    color: #FFF;
    background-color: #6E4412;
}

.item--note__content {
}

.item--task {
    background-color: #FFFFFF;
    border-color: #59C3FF;
}

.item--task__title {
    margin-top: 20px;
    padding-bottom: 0;
}

.item--task__subtitle {
    padding: 0;
    color: #7b7b7b;
    font-weight: normal;
    font-size: 0.8rem;
}

.item--task__content {
}

.hidden {
    display: none;
}
